/* headerMusic.css */

.music-hero {
    text-align: center;
    margin-bottom: 3px;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:110px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 30PX;
    width: relative;
    margin: 0 ;
    text-align: center;
    background-color: rgb(7, 7, 49);
    margin-top: 70px;
    font-family: Arial, sans-serif;
    padding-bottom: 70px;
}
.music-hero h1 {
    font-size:2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.music-hero .discoverPara {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.music-hero .headercontentP {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .music-hero {
        padding: 60px 0;
    }
    
    .music-hero h1 {
        font-size: 2.5em;
    }

    .music-hero .discoverPara {
        font-size: 1.2em;
    }

    .music-hero .headercontentP {
        font-size: 1em;
    }
}
