
.service-hero {
    text-align: center;
    margin-bottom: 3px;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:110px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 30PX;
    width: relative;
    margin: 0 ;  font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(7, 7, 49);

    padding-bottom: 70px;
  
  }
  
  .service-hero h1 {
    font-size: 22px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .service-hero p {
    font-size: 19px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
